/* .aboutPageNav ul { 
    background-color: rgb(81, 151, 145); 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 200px;
    max-width: 400px;
}

.aboutPageNav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}*/