<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<app-contact-page-header></app-contact-page-header>
<div class="container" id="cardContainer">
        <div class="row">
          <div class="col-sm-4">
            
          </div>
          <div class="col-sm-4">
                <p>So who is this guy?</p>
                <div class="card" style="width:400px">
                  <img class="card-img-top" src="assets/images/PicOfSelf_360px.png" alt="Picture of Benjamin Heath" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">Benjamin Heath</h4>
                    <p class="card-text">Certified IT Technician & Developer</p>
                    <a href="https://www.linkedin.com/in/benjamin-heath-738610132/" class="btn btn-primary">See Profile</a>
                  </div>
                </div>
          </div>
          <div class="col-sm-4">
            
          </div>
        </div>
      </div> 

<app-contact-page-menu></app-contact-page-menu>
