.headerIcon {
    max-width: 300px;
	max-height: 270px;
	border: solid;
	border-color: #1e441f;
	padding: auto;
	margin: auto;
	border-radius: 50%;
}
.headerIconWrapper {
    float: right;

}
.headerText {
    float: left;

}
